<a href="https://colab.research.google.com/github/sinara08/Campusx/blob/main/Python/Daily_Sessions/Session1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **1. Hello World**

In [1]:
#python is case sensitive
print("Hello World")

Hello World

In [2]:
print("Hello",1,4.5,True)

Hello 1 4.5 True

In [4]:
print("Hello",1,4.5,True,sep='/')

Hello/1/4.5/True

In [5]:
print("Hello",end=',')
print("World")

Hello,World

In [ ]:
print()

### **2.Data Types**

In [9]:
#Boolean
print(True)
#Strings
print('Hello')
#integer
print(10)
#Tuple
print((1,2,3,4,5))
#List
print([1,2,3,4,5])
#sets
print({1,2,3,4,5})
#Dictionary
print({'name':"Sinara",'weight':52.5})
#complex
print(5+3j)

True
Hello
10
(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]
{1, 2, 3, 4, 5}
{'name': 'Sinara', 'weight': 52.5}
(5+3j)

In [11]:
#type
print(type(3))
type(3+4j)
type(5.4)
type((1,2,3))

<class 'int'>

tuple

### **3.Variables**

In [12]:
#to create and use the variable
name='sinara'
print(name)

sinara

In [13]:
a=5
b = 6
print(a+b)

11

In [15]:
#Dynamic typing where you dont specify type of variable.Python interpretter is inetelligent to understand the data type
a = 5
#static typing - C, C++, java
#int a = 5

In [18]:
#dynamic binding - python variables can hold any types of variables in a program. WHereas c, c++ and Java supports static binding
a = 5
print(a)
a ='sinara'
print(a)

5
sinara

In [17]:
a, b, c = 1,2,3
print(a,b,c)

1 2 3

In [19]:
a = b= c =5
print(a,b,c)

5 5 5

### **4.Keywords & Identifiers**

In [21]:
#Compiler/Interpretter - process to convert the code to binary language
#Compiler handles program as a whole and interpretter process line by line.
#keywords (32 in python) - reserved by compiler/interpretter to understand the programs so that code from high level lanuage
   #is converted to binary code

In [20]:
#Identifier - Name of variable, class, functions are known as identifier.
#Rules to write Identifier
#1.You cant start with a digit
#2.You can use uppercase, lower case. But only '_'(underscore) as special character.
#3.Identifiers can not be keywords

In [22]:
_ = 'sinara'

### **5.User Input**

In [23]:
#Static Vs Dynamic
#Dynamic sw - Interactive. 99% of sw are dynamics
#static - Non interactive
input()

sinara

'sinara'

In [24]:
input('Enter your name: ')

Enter your name: Sinara

'Sinara'

In [27]:
#Take input from users and store them in 2 variables
fnum = int(input("Enter the first number: "))
snum = int(input("Enter the second number: "))
#add 2 variables
rslt = fnum + snum
#print the result
print("Result is :", rslt)

Enter the first number: 23
Enter the second number: 33
Result is : 56

# 6. Type Conversion

In [ ]:
# Implicit Vs Explicit
print(5+5.6)
print(type(5),type(5.6))

print(4 + '4')

10.6
<class 'int'> <class 'float'>

TypeError: ignored

In [ ]:
# Explicit
# str -> int
#int(4+5j)

# int to str
str(5)

# float
float(4)

4.0

# 7. Literals

In [ ]:
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal 
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 10.5 
float_2 = 1.5e2 # 1.5 * 10^2
float_3 = 1.5e-3 # 1.5 * 10^-3

#Complex Literal 
x = 3.14j

print(a, b, c, d)
print(float_1, float_2,float_3)
print(x, x.imag, x.real)

In [ ]:
# binary
x = 3.14j
print(x.imag)

3.14

In [ ]:
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
C
This is a multiline string with more than one line code.
ðŸ˜€ðŸ˜†ðŸ¤£
raw \n string

In [ ]:
a = True + 4
b = False + 10

print("a:", a)
print("b:", b)

a: 5
b: 10

In [ ]:
k = None
a = 5
b = 6
print('Program exe')

Program exe

# 8. Operators

In [ ]:
# Arithmetic
# Relational
# Logical
# Bitwise
# Assignment
# Membership